.container {
  padding: 20px 0;
}
.row {
  margin: 30px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h2 {
  margin: 20px 0;
}
.photo-image {
  margin: 20px;
  width: 150px;
  height: 100px;
}
.photo-text {
  text-transform: capitalize;
}
.photo-title {
  margin: 30px 0;
}
.btn {
  margin-top: 10px;
  margin-right: 10px;
}
.invalid-feedback {
  color: red;
}
